<div class="container">
	<div class="logger-wrapper">
		<h1>Log een bericht</h1>
		<form method="post" class="form-control">
			<input type="text" name="message" class="form-check form-control" required />
			<input type="submit" name="choice" class="btn-primary" value="txt" />
			<input type="submit" name="choice" class="btn-primary" value="console" />
			<input type="submit" name="choice" class="btn-success" value="txt en console" />
		</form>
	</div>
</div>
